extends layout

block content
  h1= 'Bebo Coding Challenge'
  video(id='local-video' autoplay muted controls width='640' height='480')
  video(id='remote-video' width='640' height='480' controls)
  h2= 'Microphone Volume'
  input(type='range' id='micvolume')
  input(type='button' id='start-button' value='Start Call')